<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Reciclaje
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header text-center>
      <ion-card-title>BIENVENIDO</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Correo Electronico</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-button expand="full">Ingresar</ion-button>
      <ion-grid>
        <ion-row>
          <ion-col size="2"></ion-col>
          <ion-col size="8">
            <ion-button expand="full">Registrarme</ion-button>
          </ion-col>
          <ion-col size="2"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <img src="assets/img/icono.png" alt="">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
